*{
    margin:0;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(180deg, #0f600e81, #7bf1317e);
    height:100vh;
    font-family: 'Gloria Hallelujah', cursive, arial;
}
a{
    text-decoration: none;
    color:black;
}
.container{
    max-width: 800px;
    /* background-color:white; */
    margin:auto;
    /* overflow: hidden; */
    padding-top:50px;
}
.menu{
   display:flex;
   flex-direction: column;
   width:100%;
    
}
.btn_amarelo{
    width:100%;
    height: auto;
    position: relative;
    display:flex;
    align-items:center;
    /* top: 50px; */
}
.btn_amarelo img{
    width:100%;
    height:125px;
}

.btn_vermelho{
    width:100%;
    height:auto;
    position:relative;
    top:-19px;
    display:flex;
    align-items:center;
}
.btn_vermelho img{
    width:100%;
    height:122px;
} 
.btn_verde{
    width:100%;
    height:auto;
    position:relative;
    top:-35px;
    display:flex;
    align-items:center;
} 
.btn_verde img {
    width:100%;
    height:129px;
}/*
.amarelo img, .vermelho img, .verde img{
    width:100%;
    height:125px;
    
}*/
.tribore_menu{
    width: 60%;
    height: auto;
    display: flex;
    position: fixed;
    bottom: 0;
    cursor:pointer;
}
.tribore_menu img{
    height: auto;
    width: 200px;
}

.cont_1{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 13px;
    margin-left: 13px;
      

}
.cont_1 h2{
    font-size: 27px;
    line-height: 34px;
    letter-spacing: 3px;
}
.image_boton{
    margin-left: 12px;
    width:80px;
    height:80px;
}
.image_boton img{
    width:80px;
    height:80px;
}